#virtual environment python subfolder
.venv/
.env/
venv/
env/

#visual studio code
.vscode/

# Windows thumbnails and links
Thumbs.db
._*
*.lnk

# backups
*.bak

# for debug only
debugging.py

# subfolders
__pycache__/
.result/
.output/
output/

# ignore all .csv files
*.csv