#virtual environment python subfolder
.venv/

#visual studio code
.vscode/

# Windows thumbnails and links
Thumbs.db
._*
*.lnk

# backups
*.bak

# subfolders
.result/
.output/
output/

# ignore all .csv files
*.csv